body{
    background: ffca00 url('./assets/pika-wallpaper.jpeg') center bottom no-repeat;
}
#container{
    display: flex;
    height: 100vh;
}
.pokeball{
    animation: loadingEffect 1s infinite;
}
@keyframes loadingEffect {
    0%{
        transform: rotate(0) scale(.5);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}