body{
    background: radial-gradient(#2E86C1, transparent);
}
#container{
    display: flex;
    height: 100vh;
}
.pokeball{
    animation: loadingEffect 1s infinite;
}
@keyframes loadingEffect {
    0%{
        transform: rotate(0) scale(.5);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}